<footer id="footer">
    <p>&copy; 2024 Zuhair Mohammed<br>Email: <a href="mailto:zuhairuddin.mohammed@ontariotechu.net">zuhairuddin.mohammed@ontariotechu.net</a></p>
    <p>Connect with me on: 
        <a href="https://www.linkedin.com/in/zuhair-uddin-mohammed-5a5b00281/" target="_blank">
            <img src="/images/LinkedIn.png" alt="My Linkedin Profile" class="socials">
        </a>
    </p>
    <script src="/Scripts/app.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
</footer>
</body>
</html>
