<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<section class="about-section">
    <div class="container">
        <h1>About Me</h1>
        <p>Hello! I am Zuhair uddin Mohammed, passionate about Networking and IT Security. I'm currently studying at Ontario Tech University and actively working on various networking projects to strengthen my skills in the field.</p>
    </div>
</section>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>
