<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/Content/app.css"/>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
  <header class="main-header">
    <div class="logo">Zuhair's Portfolio</div>
  </header>
  
  <section class="about-me">
    <img src="Assets/images/Pfp.jpg" alt="My Photo" class="pfp"/>
    <div class="about-text">
      <h3>Hi! I am Zuhair Uddin Mohammed, currently a student at Ontario Tech University. I am passionate about Networking and IT Security, and I’m constantly looking to enhance my skills through hands-on projects.</h3>
      <h5>I currently do not Have an Intro Video due to difficulties!</h5>
      <video controls class="introvideo" poster="/public/Assets/images/Introducing_me.webp">
        <source src="/Assets/images/introducing_me.webp" type="png">
        Your browser does not support the video tag.
      </video>
    </div>
  </section>
  
  <footer id="footer">
    <p>&copy; 2024 Zuhair Mohammed. <a href="mailto:zuhairuddin.mohammed@ontariotechu.net">Contact Me</a></p>
  </footer>
</body>
</html>


<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>
