<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<section id="About" class="about-me">
    <div class="about-content">
        <img src="/public/Assets/images/Pfp.jpg" alt="My Photo" class="pfp">
        <div class="about-text">
            <h3 style="text-align: justify">I am Zuhair uddin Mohammed, a student at Ontario Tech University in the Networking and IT Security program. I am a highly positive and compassionate individual dedicated to delivering my utmost effort to excel in every endeavour.</h3>
            <h5 class="videotitle">My Introduction Video</h5>
            <video controls class="introvideo" poster="/public/Assets/images/Introducing_me.webp">
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>
