<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%=title%></title>

<link rel='stylesheet' href="/Content/app.css"/>
<link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css"/>
<link rel='stylesheet' href="/@fortawesome/fontawesome-free/css/all.min.css">

</head>
<!--Nav Bar-->
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Assignment 2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">  
        <li class="nav-item">
        <% if(title== "Home"){ %>
          <a class="nav-link active" href="/home"></a>
        <% } else {%>
        <a class="nav-link" href="/home">
        <% } %>
          <i class="fa-solid fa-house"></i> Home</a>
        </li>

        <li class="nav-item">
        <% if(title== "About"){ %>
          <a class="nav-link active"  href="/about"></a>
        <% } else {%>
        <a class="nav-link" href="/about">
        <% } %>
          <i class="fa-regular fa-address-card"></i> About</a>
        </li>

        <li class="nav-item">
        <% if(title== "Projects"){ %>
          <a class="nav-link active" href="/project"></a>
          <% } else {%>
          <a class="nav-link" href="/project">
          <% } %>
          <i class="fa-solid fa-diagram-project"></i> Projects</a>
        </li>

        <li class="nav-item">
        <% if(title== "Contact Me"){ %>
          <a class="nav-link active" href="/contact"></a>
          <% } else {%>
          <a class="nav-link" href="/contact">
          <% } %>
          <i class="fa-solid fa-address-book"></i> Contact Me</a>
        </li>
    </div>
  </div>
</nav>

<main>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>

</div>
</main>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Copyright 2024. All Rights Reserved</h6>
</nav>
    <script src="/Scripts/app.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>